// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #272b35;

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-clock {
  background-color: $background-color;
}

.time {
  font-size: 3.2em;
  font-weight: 300;
}
