// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #4183C5;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

$moreinfo-color:    rgba(255, 255, 255, 0.7);
// ----------------------------------------------------------------------------
// Widget-comment styles
// ----------------------------------------------------------------------------
.widget-google-calendar {

  background-color: $background-color;

  .event-container {
    //display: none;
    overflow: hidden;
  }

  .title {
    color: white;
    font-size: 20px;
    width: 100%;
    overflow: hidden;
    text-overflow: elipsis;
    white-space: nowrap;
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .start {
    color: #ccccff;
    font-size: 32px;
    text-align: left;
    padding-left: 30px;
  }

}
