.widget-fitbit {
  position: relative;
  background-color: #15aaaa;
  h1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url("fitbit/fitbit.png");
    background-position: center 50px;
    background-repeat: no-repeat;
    background-size: 25%;
    span {
      display: none;
    }
  }
  .value {
    display: block;
    font-size: 60px;
    font-weight: 400;
    text-transform: none;
    span.unit {
      font-size: 20px;
    }
  }
  #data {
    display: none;
    ul.views li {
      overflow: hidden;
      .label {
        width: 100%;
        text-transform: uppercase;
        font-size: 15px;
        letter-spacing: 2px;
      }
      .goal {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 400;
        color: #1bd7d7;
      }
      &.steps .icon {
        background-image: url("fitbit/steps.png");
      }
      &.calories .icon {
        background-image: url("fitbit/calories.png");
      }
      &.distance .icon {
        background-image: url("fitbit/distance.png");
      }
      &.active .icon {
        background-image: url("fitbit/active.png");
      }
    }
    &.animate ul.views {
      display: inline-block;
      margin: 0;
      padding: 0;
      height: 120px;
      position: relative;
      width: 100%;
      li {
        display: none;
        position: absolute;
        top: 5px;
        left: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 200px;
        &.steps .icon, &.calories .icon, &.distance .icon, &.active .icon {
          position: absolute;
          top: 35px;
          left: 120px;
          display: block;
          width: 60px;
          height: 60px;
          background-repeat: no-repeat;
        }
        &.steps .value, &.calories .value, &.distance .value, &.active .value {
          position: absolute;
          top: 105px;
          right: 0;
          left: 0;
          font-size: 40px;
        }
        &.steps .label, &.calories .label, &.distance .label, &.active .label {
          position: absolute;
          top: 160px;
          right: 0;
          left: 0;
        }
        &.steps .goal, &.calories .goal, &.distance .goal, &.active .goal {
          position: absolute;
          top: 180px;
          right: 0;
          left: 0;
        }
        &.steps .bar, &.calories .bar, &.distance .bar, &.active .bar {
          display: none;
        }
        &.intensity_none input, &.intensity_light input, &.intensity_moderate input, &.intensity_high input {
          background-color: #14a1a1;
        }
        &.intensity_none {
          input {
            color: #5ac7c8;
          }
          .icon {
            background-position: 0px 0px;
          }
        }
        &.intensity_light {
          input {
            color: #ff6d43;
          }
          .icon {
            background-position: -60px 0px;
          }
        }
        &.intensity_moderate {
          input {
            color: #ffc807;
          }
          .icon {
            background-position: -120px 0px;
          }
        }
        &.intensity_high {
          input {
            color: #9ade11;
          }
          .icon {
            background-position: -180px 0px;
          }
        }
      }
    }
    &.list ul.views {
      position: absolute;
      top: 110px;
      left: 30px;
      li {
        position: relative;
        margin: 0 auto 2px;
        padding: 2px 0;
        height: 30px;
        width: 240px;
        &.steps, &.calories, &.distance_total {
          background-color: #14a1a1;
        }
        input {
          display: none;
        }
        .icon {
          display: block;
          margin: 0 0 0 5px;
          width: 30px;
          height: 30px;
          background-repeat: no-repeat;
          background-size: 400%;
        }
        .value {
          position: absolute;
          top: 2px;
          left: 40px;
          font-size: 14px;
          text-align: left;
          color: #a7e1e2;
          span.unit {
            font-size: 9px;
          }
        }
        .label {
          position: absolute;
          bottom: 3px;
          left: 40px;
          width: 210px;
          font-size: 10px;
          font-weight: bold;
          text-align: left;
          letter-spacing: 0px;
        }
        .goal {
          position: absolute;
          top: 0;
          right: 10px;
          height: 30px;
          line-height: 32px;
          font-size: 10px;
          color: #5ac7c8;
        }
        .bar {
          position: absolute;
          bottom: 0;
          left: 40px;
          height: 2px;
          width: 200px;
          background-color: #5ac7c8;
        }
        &.intensity_none {
          .bar {
            background-color: #5ac7c8;
          }
          .icon {
            background-position: 0px 0px;
          }
        }
        &.intensity_light {
          .bar {
            background-color: #ff6d43;
          }
          .icon {
            background-position: -30px 0px;
          }
        }
        &.intensity_moderate {
          .bar {
            background-color: #ffc807;
          }
          .icon {
            background-position: -60px 0px;
          }
        }
        &.intensity_high {
          .bar {
            background-color: #9ade11;
          }
          .icon {
            background-position: -90px 0px;
          }
        }
      }
    }
  }
  #error {
    display: none;
    .value {
      font-size: 40px;
    }
    p {
      font-size: 10px;
    }
  }
  p.updated-at {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
    color: #27e4e4;
  }
  ul.device {
    position: absolute;
    top: 80px;
    right: 0;
    left: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 9px;
    font-weight: normal;
    color: #1bd7d7;
    li {
      display: inline-block;
      background-image: url("fitbit/fitbit-icons.png");
      background-repeat: no-repeat;
      white-space: nowrap;
      height: 19px;
      min-width: 30px;
      padding: 5px 0 0 0;
      &.version {
        background: none;
        min-width: 80px;
      }
      &.sync {
        background-position: left 1px;
        padding-left: 15px;
        margin: 0 5px;
      }
      &.battery-low, &.battery-medium, &.battery-high, &.battery-full {
        background-position: left -40px;
      }
      &.battery-medium {
        background-position: left -60px;
      }
      &.battery-high, &.battery-full {
        background-position: left -80px;
      }
    }
  }
}