$background-color:  #272b35;

.container {
  background-color: $background-color;
  height: 100%;
}

/* Contain demo size */

.quote {
  background-color: #3c4049;
  color: #fff;
  font-weight: 300;
  padding: 20px;
  font-size: 20px;
  height: 200px;
  &::before {
    border-color: transparent #3c4049 transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: 30px;
    top: 190px;
    content: " ";
    right: 20%;
    position: relative;
  }
}

.from {
  background-color: $background-color;
  padding: 20px;
  text-align: center;
  height: 60px;
}

.name {
  font-size: 1.2em;
  color: #34febb;
}

.description {
  color: #fff;
  margin-top: 10px;
  font-size: 0.8em;
  font-weight: 300;
}

blockquote {
  padding: 0;
  margin: 0;
}