// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #4183C5;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

$moreinfo-color:    rgba(255, 255, 255, 0.7);
// ----------------------------------------------------------------------------
// Widget-comment styles
// ----------------------------------------------------------------------------
.widget-timetable {

  background-color: $background-color;

  .event-container {
    //display: none;
    overflow: hidden;
  }
  
  .event-container {
    margin: 14px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .label {
    float: left;
    text-align: left;
    width: 380px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 28px;
  }

  .value {
    float: right;
    margin-left: 15px;
    font-weight: 600;
    font-size: 28px;
  }

  .location {
    float: left;
    text-align: left;
    margin-left: 30px;
    font-weight: 600;
    font-size: 28px;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: capitalize;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }
}
