// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #272b35;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

$moreinfo-color:    rgba(255, 255, 255, 0.7);
// ----------------------------------------------------------------------------
// Widget-comment styles
// ----------------------------------------------------------------------------
.widget-timetable {

  background-color: $background-color;

  .event-container {
    //display: none;
    overflow: hidden;
  }
  
  .event-container {
    margin: 14px;
    margin-left: 20px;
    margin-right: 20px;
  }

  table td 
  {
    table-layout:fixed;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
    text-align: left;
    border-bottom: 1px solid #3c4049;
    padding: 18px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 24px;
  }

  table tr:last-child td {
    border-bottom: 0;
  }

  .label {
    width:400px;
    max-width:400px;
    font-weight: 100;
  }

  .value {
    font-weight: 300;
  }

  .location {
    width:200px;
    max-width:200px;
    font-weight: 300;
    width: 200px;
    text-transform: capitalize;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }
}
