// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #607d8b;

$rounded-width:     1.8em;
$rounded-height:    1.8em;
$rect-width:        2.3em;
$rect-height:       1.5em;

// ----------------------------------------------------------------------------
// Widget-ratp styles
// ----------------------------------------------------------------------------
.widget-ratp {
	background-color: $background-color;

	.bus, .noctilien {
		width: $rect-width;
		height: $rect-height;
	}
	.metro, .tram, .rer {
		width: $rounded-width;
		height: $rounded-height;
	}

	table {
		border-collapse: separate;
		border-spacing: 4px 0px;
	}

	td {
        text-align: left;
		white-space: nowrap;
		max-width: 0;
    }
    
    tr {
        height: 50px;
    }

	.transport {
		width: 12%;
		text-align: center;
	}
	.dest {
		width: 62%;
	}

	.icon {
		vertical-align: text-bottom;
	}

	.scroll {
		white-space: nowrap;
		overflow: hidden;
		box-sizing: border-box;
    }
    
    .time {
        font-size: 1.4em;
    }

    .dest {
        font-size: 1.3em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
