// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #272b35;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
.widget-btcprice {

  background-color: $background-color;

  .title {
    color: $title-color;
  }

  .btc_logo {
    position: relative; /* Declared position allows for location changes */
    top: -20px; /* Moves the image 2px closer to the top of the page */
  }

  .more-info {
    color: $moreinfo-color;
  }

  .price {
    font-size: 3em;
    position: relative;
    font-weight: 300;
  }
}
