// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #272b35;
$value-color:       #fff;
 
$title-color:       rgba(255, 255, 255, 0.7);;
$moreinfo-color:    rgba(255, 255, 255, 0.7);;
 
// ----------------------------------------------------------------------------
// Widget-weather styles
// ----------------------------------------------------------------------------
.widget-news {

  background-color: $background-color;
  vertical-align: baseline !important;

  .headline-container {
    display: none;
    margin: 20px;
  }

  .heading span {
    color: black;
  }

  .heading img {
    margin-top: -5px;
  }

  .description {
    font-size: 1em;
  }

  .heading{
    font-size: 1.2em;
    margin-top: 50px;
  }

  .title {
    margin-top: 50px;
  }

  .description {
    margin-top: 30px;
    font-weight: 300;
  }


}