<% content_for :title do %>Atom<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="epiquote" data-view="Epiquote"></div>
    </li>

    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="klimato" data-view="Klimato"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="timetable_srs" data-title="SRS Timetable" data-view="Timetable"></div>
    </li>

    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="airparif" data-view="Airparif" data-title="Airparif"></div>
    </li>

    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ethprice" data-view="Ethprice" data-ethprice="" data-prefix="€"></div>
    </li>

    <li data-row="3" data-col="2" data-sizex="2" data-sizey="1">
        <div data-id="subway" data-view="Subway"></div>
    </li>

  </ul>
</div>
