<!-- uncomment to enable wide screen support
<script type='text/javascript'>
 $(function() {
   Dashing.widget_base_dimensions = [370, 340]
   Dashing.numColumns = 5
 });
 </script>
 -->

<% content_for :title do %>Atom<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-view="Weather" data-id="weather"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
      <div data-view="Airparif" data-id="airparif"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-view="News" data-id="news"></div>
    </li>

    <li data-row="3" data-col="1" data-sizex="2" data-sizey="1">
        <div data-view="Subway" data-id="subway"></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="2" data-sizey="2">
      <div data-view="DailyXKCD" data-id="xkcd-of-the-day"></div>
    </li>

    <!--
    <li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="btcprice" data-view="Btcprice" data-btcprice="" data-prefix="€"></div>
    </li>

    <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="ethprice" data-view="Ethprice" data-ethprice="" data-prefix="€"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div data-view="WorldClock" class="widget widget-world-clock"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="epiquote" data-view="Epiquote"></div>
    </li>
    -->

  </ul>
</div>
