<% content_for :title do %>wasabi<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
        <div data-id="ratp" data-view="Ratp"></div>
    </li>

    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="ethprice" data-view="Ethprice" data-ethprice="" data-prefix="€"></div>
    </li>

    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="klimato" data-view="Klimato"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="timetable_srs" data-title="SRS Timetable" data-view="Timetable"></div>
    </li>

    <li data-row="3" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="latency" data-view="Graph" data-title="Latency"></div>
    </li>
  </ul>
</div>
