<% content_for :title do %>smashr<% end %>
<div class="gridster">
    <ul>
      <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="fa fa-clock-o icon-background"></i>
    </li>

    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
        <div data-id="ratp" data-view="Ratp"></div>
    </li>

    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="ethprice" data-view="Ethprice" data-ethprice="" data-prefix="€"></div>
    </li>

    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="klimato" data-view="Klimato"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="google_calendar_srs" data-title="SRS Timetable" data-view="GoogleCalendar"></div>
    </li>
  </ul>
</div>
