<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
    <ul>
      <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="fa fa-clock-o icon-background"></i>
    </li>

    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
        <div data-id="ratp" data-view="Ratp"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="google_calendar_srs" data-title="SRS Timetable" data-view="GoogleCalendar"></div>
      <i class="fa fa-graduation-cap icon-background"></i>
    </li>
  </ul>
</div>
