// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #272b35;

$title-color:       white;
$moreinfo-color:    rgba(255, 255, 255, 0.3);
$tick-color:        rgba(0, 0, 0, 0.4);


// ----------------------------------------------------------------------------
// Widget-graph styles
// ----------------------------------------------------------------------------
.widget-graph {
  background-color: $background-color;
  position: relative;

  svg {
    position: absolute;
    //opacity: 0.6;
    //fill-opacity: 0.6;
    left: 0px;
    top: 12px;

    path {
        fill: #dc5945;
    }
  }

  .title, .value {
    color: $title-color;
    position: relative;
    z-index: 99;
  }

  .value {
    font-size: 120px;
    text-shadow: 0px 0px 5px #222;
  }

  .more-info {
    color: $moreinfo-color;
    font-weight: 600;
    font-size: 20px;
    margin-top: 0;
  }

  .x_tick {
    display: none;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    .title {
      font-size: 20px;
      color: $tick-color;
      opacity: 0.5;
      padding-bottom: 3px;
    }
  }

  .y_ticks {
    display: none;
    font-size: 20px;
    fill: $tick-color;
    fill-opacity: 1;
  }

  .domain {
    display: none;
  }

}