// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #272b35;

$header-color:     #34febb;

$title-color:      #fff;

$caption-color:    #fff;

$published-color:  #fff;

$updated-at-color: #fff;

// ----------------------------------------------------------------------------
// Widget-daily-xkcd styles
// ----------------------------------------------------------------------------
.widget-daily-xkcd {
  background-color: $background-color;

  .header {
    color: $header-color;

    font-size: large;
    font-variant: small-caps;
  }

  .date {
    color: $published-color;
    margin-bottom: 0.5vh;
    font-size: small;
    text-align: left;
  }

  .caption {
    color: $caption-color;
    font-size: small;
    text-align: center;
    margin: 10px;
  }

  .updated-at {
    color: $updated-at-color;
    position: relative;
    padding: 0;
    margin: 0;
    bottom:0;
  }
}