// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #2980b9;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
.widget-ethprice {

  background-color: $background-color;

  .title {
    color: $title-color;
  }

  .eth_logo {
    position: relative; /* Declared position allows for location changes */
    top: -20px; /* Moves the image 2px closer to the top of the page */
  }

  .more-info {
    color: $moreinfo-color;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.1);
  }
  
  .price {
    font-size: 3em;
    position: relative; /* Declared position allows for location changes */
    bottom: 25px; /* Moves the image 2px closer to the top of the page */
  }
}
